// 3rd-party Plugins
@import "~highlight.js/styles/googlecode.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";

// Theme Styles
@import "./_metronic/_assets/sass/style.react.scss";

// Default Layout themes
@import "./_metronic/_assets/sass/themes/layout/header/base/light.scss";
@import "./_metronic/_assets/sass/themes/layout/header/menu/light.scss";
@import "./_metronic/_assets/sass/themes/layout/brand/dark.scss";
@import "./_metronic/_assets/sass/themes/layout/aside/dark.scss";

// Header themes
// Light
//@import "./_metronic/_assets/sass/themes/layout/header/base/light.scss";
// Dark
// @import "./_metronic/_assets/sass/themes/layout/header/base/dark.scss";

// Header Menu themes
// Light
//@import "./_metronic/_assets/sass/themes/layout/header/menu/light.scss";
// Dark
// @import "./_metronic/_assets/sass/themes/layout/header/menu/dark.scss";
@font-face {
  font-family: 'GothamProMediumCryllic';
  font-weight: 900;
  src: local('Lato'), url(./fonts/GothamProMediumCryllic.woff) format('woff');
}
// Brand themes
.brand-dark {
  @import "./_metronic/_assets/sass/themes/layout/brand/dark.scss";
}
// Light
.brand-light {
  @import "./_metronic/_assets/sass/themes/layout/brand/light.scss";
}

// Aside themes
// Dark
//@import "./_metronic/_assets/sass/themes/layout/aside/dark.scss";
// Light
// @import "./_metronic/_assets/sass/themes/layout/aside/light.scss";

// .example-highlight {
//   padding: 0rem 1.5rem 1.75rem !important;
// }

.example-highlight > pre {
  background: none transparent !important;
  margin: 0 !important;
  padding-top: 0.5rem;
  code {
    overflow-y: auto;
    display: block;

    span {
      background: none transparent !important;
    }
  }
}

.json > pre {
  background: none #fff !important;
}

.example-code > .json {
  background: none #fff !important;
}

.symbol.symbol-45 > svg {
  width: 100%;
  max-width: 45px;
  height: 45px;
}

.react-bootstrap-table {
  overflow-x: auto;
}

.react-bootstrap-table {
  th {
    outline: none;

    &.sortable {
      .svg-icon-sort {
        opacity: 0;
      }

      &:hover {
        cursor: pointer;

        .svg-icon-sort {
          opacity: 1;
        }
      }
    }
  }

  .table.table-head-custom thead tr {
    .sortable-active {
      color: $primary !important;
    }
  }
}

.scheduleTableImg {
  margin-top: -40px;
}

.scheduleTableImgTxts {
  display: inline-block;
  padding-left: 10px;
}

.scheduleTableHeaderTxt span {
  font-family: GothamProMediumCryllic;
  font-size: 10pt;
  font-weight: bold;
}

.scheduleTableImgLesson {
  font-size: 10pt;
  color: rgba(87, 89, 98, 0.7);
}
.scheduleTableImgLessonName {
  font-size: 11pt;
  color: rgb(2, 117, 216);
  font-weight: bold;
}
.scheduleTableImgUserName {
  font-size: 9pt;
  color: rgba(87, 89, 98, 0.7);
}

.MuiTableCell-root{border-bottom: 2px dotted #F0F0F0 !important;  } 
// .nav-link:focus {
//     outline: none;
// }

.menu-text{
  font-family: GothamProMediumCryllic;
}

Table{
  span{
    font-family: GothamProMediumCryllic;
  }
}

.scheduleTableCellTime{
  width: 43pt;
  height: 36pt;

  span{
    font-size: 11pt;
    color:rgba(87, 89, 98, 0.7)
  }
}

.myReport{
  border-bottom: 2px solid #F0F0F0 !important;
}

.myToday-DayPicker > input{
  border: none;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  color: #0275d8;
}

.myToday-DayPicker > input::placeholder{
  color: #0275d8;
}

.myToday-DayPicker > input:hover{
  cursor: pointer;
}

.DayPickerInput > div {
  position: absolute;
  top: 29px;
  left: 30;
  z-index: 1000;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  -webkit-transition: -webkit-box-shadow .1s ease, -webkit-transform .1s ease;
  transition: -webkit-box-shadow .1s ease, -webkit-transform .1s ease;
  transition: box-shadow .1s ease, transform .1s ease;
  transition: box-shadow .1s ease, transform .1s ease, -webkit-box-shadow .1s ease, -webkit-transform .1s ease;
}

.content {
  background-color: rgb(243, 250, 255);
}

.subheader{
  background-color: rgb(243, 250, 255) !important;
  box-shadow: none !important;
}

.menu-text{
  font-family: GothamProMediumCryllic; 
}